# compiled bbject files, static and dynamic libs (shared objects)
*.o
*.a
*.so
 
 
# env
.env*
 
 
# test coverage result
*.out
*.html
 
 
# project deploy/_output
deploy/_output
 
 
# vendor related
vendor/*/
